.calculator-wrap {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 80px 15px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.calculator-wrap h2 {
  font-size: 32px;
  font-weight: bold;
  color: #858694;
}

.calculator {
  width: 100%;
  max-width: 500px;
  background-color: #ccc;
}

.calculator .buttons-wrap {
  width: 100%;
}

.calculator .result {
  width: 100%;
  text-align: right;
  padding: 14px 8px;
  background-color: #858694;
  border: none;
  outline: none;
  color: #fff;
  display: block;
  margin-bottom: 2px;
  font-size: 22px;
}

.calculator .buttons-row {
  display: flex;
  gap: 2px;
  margin-top: 2px;
}

.calculator .uni-button {
  width: 25%;
  padding: 20px 0;
  font-size: 12px;
  background-color: #e0e0e0;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
}

.calculator .uni-button:hover {
  background-color: #eee;
  transition: 0.3s;
}

.calculator .orange-button {
  background-color: #f5913e;
}

.calculator .zero-button {
  width: 50%;
}
